/* CAROUSEL HERO STYLING */
.c-item {
    height: 500px;
}
.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

/* RADIUS STYLING */
.radius-box {
    border-radius: 10px;
}
.radius-img {
    border-radius: 10px;
}

/* ======================================================================= */
/* HOME PAGE STYLING */

/* HERO IMAGE STYLING */
#hero-home {
    background-image: url("../images/hero-img/hero-image_lumpur-lapindo.jpg");
}

.hero-section {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
}

.hero-section::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.hero-section .row {
    position: relative;
    z-index: 1;
}

.hero-section h1 {
    margin-top: 40px;
}


/* WEATHER STYLING */
#weather-section {
    padding: 50px 0;
}

.weather-card {
    width: 100%;
    border-radius: 10px;
    height: 360px;
    padding: 40px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
    transition: all .2s ease-in
}

.weather-card:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}

.circle-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

/* LAPINDO EXPLANATION STYLING */
#lapindo-explanation-img::after {
    background-color: rgba(0, 0, 0, 0.5);
}


/* CAROUSEL IMAGE GALERY STYLING */
#galery .carousel-item {
    height: 500px;
}

#galery .radius-img {
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}


/* TESTIMONIAL STYLING */
.star-active {
    font-size: 24px;
    color: orange;
}

.star-disabled {
    font-size: 24px;
    color: grey;
}

/* ======================================================================= */
/* REVIEW LOKASI STYLING */
#breadcrumb-section {
    margin-top: 80px;
}

.card-review {
    height: 450px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
    transition: all .2s ease-in;
}

.card-review:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.06);
    transition: all .2s ease-in;
}

.review-image {
    overflow: hidden;
    position: relative;
}

.review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.review-image img:hover {
    transform: scale(1.1);
}

#location-review-img::after {
    background-color: rgba(0, 0, 0, 0.5);
}


/* CAROUSEL YOUTUBE STYLING */
#yt-carousel .carousel-item {
    height: 628px;
}

#yt-carousel .slide-yt iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ======================================================================= */
/* UMKM & EKRAF STYLING */

/* UMKM HERO IMAGE */
#hero-umkm {
    background-image: url("../images/hero-img/hero-umkm-img.png");
    height: 350px;
}

#filter {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
}

/* UMKM CARD IMAGE */

.umkm-ekraf-card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.umkm-ekraf-card-image::hover {
    transform: scale(1.1);
}

/* JOIN US UMKM SECTION STYLING */
#join-us {
    background-image: url("../images/umkm-ekraf-img/join-us.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* ======================================================================= */
/* RESEARCH SECTION STYLING */

/* RESEARCH HERO IMAGE */
#hero-research {
    background-image: url("../images/research-img/patung-research.png");
    height: 350px;
}

.card-research {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.05);
    transition: all .2s ease-in;
}

.card-research:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.08);
    transition: all .2s ease-in;
}

.research-cover-img {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
    border-right: 1px solid #C8C8C8;
}

.research-cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.research-cover-img img:hover {
    transform: scale(1.1);
}

#research-license {
    background-image: url("../images/research-img/research-image.png");
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* INFORMATION CARD STYLING */
.info-card-img {
    display: block;
    object-fit: cover;
    height: 200px;
}


/* ======================================================================= */
/* ARTICLE STYLING */

#hero-article {
    background-image: url("../images/hero-img/hero-article-img.png");
    height: 350px;
    background-position: center;
}

.card-article {
    border: none !important;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.03);
    transition: all .2s ease-in;
}

.card-article:hover {
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.06);
    transition: all .2s ease-in;
}

.article-cover-img {
    overflow: hidden;
    position: relative;
    aspect-ratio: 1/1;
}

.article-cover-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.article-cover-img img:hover {
    transform: scale(1.1);
}


/* ======================================================================= */
/* ARTICLE DETAIL STYLING */

#hero-article-details {
    background-image: url("../images/article-img/article-img9.png");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
}

#hero-article-details::after {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

#hero-article-details .row {
    position: absolute;
    z-index: 1;
}

#hero-article-details h1 {
    margin-top: 80px;
}



@media (max-width: 768px) {
    .hero-section {
        height:400px;
    }

    .hero-section h1 {
        margin-top: 60px;
    }

    .weather-card {
        height: auto; /* Atur tinggi menjadi otomatis */
    }

    #testimonialCarousel {
        margin-top: 20px;
    }

    .card-review {
        height: 400px;
    }

    #yt-carousel .carousel-item {
        height: 260px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .weather-card {
        height: 400px;
    }

    #testimonialCarousel {
        margin-top: 20px;
    }

    .card-review {
        height: 400px;
    }

    #yt-carousel .carousel-item {
        height: 380px;
    }
}